* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

header {
  background-color: pink;
  text-align: center;
  padding: 50px;
}
nav {
  background-color: teal;
  text-align: center;
}
nav a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

main {
  width: 100%;
  margin: 15px auto;
  max-width: 800px;
}
