<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .container {
        width: 600px;
        height: auto;
        border: 2px solid red;
        margin: 15px auto;
        border-radius: 25px;
        background-color: bisque;
        padding: 0px 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et
        aperiam culpa deserunt vero optio mollitia eius accusamus saepe
        voluptate. Enim autem fuga voluptates ratione suscipit harum animi sunt.
        Dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ducimus et aperiam culpa deserunt vero optio mollitia eius accusamus
        saepe voluptate. Enim autem fuga voluptates ratione suscipit harum animi
        sunt. Dolorum.
      </p>
    </div>
  </body>
</html>
