<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      body {
        background-color: rgb(215, 216, 218);
      }
      .container {
        width: 600px;
        background-color: white;
        padding: 15px 30px;
        margin: 30px auto;
        border-radius: 25px;
      }

      img {
        width: 70 0px;
        display: block;
        margin: 15px auto;
        border-radius: 25px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque
        accusamus repellendus sequi veritatis tempora quam. Maxime iusto,
        doloribus autem suscipit at minima modi, nulla harum sit esse dolore
        dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam
        repellendus beatae facilis ad neque dolores quaerat tenetur ratione
        rerum ex dolore accusamus distinctio magnam sit perferendis, sapiente
        consequuntur inventore cupiditate.
      </p>
    </div>

    <img src="../CSS/pic1.jpg" alt="" />
  </body>
</html>
