<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="flexbox.css" />
  </head>
  <body>
    <header>
      <nav>
        <a class="brand-logo" href="#">GRAX</a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="hero-content">
        <h1>Alan Walker</h1>
        <p>Web & Mobile App Developer</p>
      </div>
    </header>
  </body>
</html>
