* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 100vh;
  background-image: url(slide.PNG);
  background-size: cover;
}

.hero-content {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.hero-content p {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 2px;
}

/* nav */
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
nav .brand-logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: all 0.5s;
}
nav ul li.active a {
  color: brown;
}
nav ul li a:hover {
  color: brown;
}
