<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html</title>
    <style>
      .container {
        width: 500px;
        height: 200px;
        border: 5px solid red;
      }
      img {
        width: 200px;
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="bg.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque
        incidunt cum eum? Possimus et neque, quidem deserunt alias obcaecati
        facere molestiae placeat. Consectetur quas eaque pariatur optio quae
        tenetur?
      </p>
    </div>
  </body>
</html>
