<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .container {
        width: 1000px;
        height: auto;
        background-color: pink;
        height: 400px;
      }
      .content {
        width: 60%;
        float: left;
      }

      img {
        width: 40%;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <div>
        <p class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam
          repellendus vero reiciendis suscipit ea, perspiciatis ipsa quaerat
          voluptates id nisi, modi dicta? Magnam perferendis libero provident
          reiciendis ad, neque voluptas! Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Aperiam repellendus vero reiciendis suscipit ea,
          perspiciatis ipsa quaerat voluptates id nisi, modi dicta? Magnam
          perferendis libero provident reiciendis ad, neque voluptas!
        </p>
        <img src="bg.jpg" alt="gb" />
      </div>
    </div>
  </body>
</html>
