<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <style>
      form {
        width: 300px;
        border: 1px solid red;
        margin: 15px auto;
        padding: 20px;
      }
      input {
        padding: 5px;
        display: block;
        margin-bottom: 15px;
        width: 95%;
      }
    </style>
  </head>
  <body>
    <form action="#">
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button>Login</button>
    </form>
  </body>
</html>
