* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
main {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}
aside {
  background-color: lightgreen;
  padding: 20px;
  width: 25%;
}
section {
  background-color: lightyellow;
  padding: 20px;
  width: 50%;
}
footer {
  background-color: lightgray;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  section {
    width: 100%;
  }
}
