* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: pink;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: teal;
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: #000;
}
main {
  width: 80%;
  margin: 15px auto;
  display: flex;
  gap: 15px;
}
section {
  width: 70%;
}
aside {
  width: 30%;
}
aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: brown;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
  section {
    width: 100%;
  }
  aside {
    width: 100%;
  }
}
